app:
  frontend:
    url: http://localhost:4200
server:
  port: 8080
logging:
  level:
    root: INFO
    io.lukerykta: DEBUG               # your code package
    org.springframework.security: DEBUG
    org.hibernate.SQL: OFF          # optional: show SQL
    org.hibernate.orm.jdbc.bind: OFF # optional: show SQL params
